%btn {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;
  color: #fff;

  &:hover {
    transform: scale(0.98);
  }
}

.btn-primary {
  @extend %btn;
  background-color: lighten($primary-clr, 10%);
}

.btn-secondary {
  @extend %btn;
  background-color: $accent-clr;
}

%btn-xl {
  display: inline-block;
  border-radius: 8px;
  padding: 12px 40px;
  margin: 3px;
  color: #fff;
  border: none;
  &:hover {
    transform: scale(0.98);
  }
}

.btn-primary-xl {
  @extend %btn-xl;
  background-color: lighten($primary-clr, 10%);
}

.btn-tarif {
  background-color: #ff9100;
  display: inline-block;
  border-radius: 5px;
  padding: 12px 60px;
  margin: 3px;
  color: #fff;
  border: none;
}
