// .hero {
//     color: white;
//     text-align: center;
//     padding: 8em 0;
//     background-color: #18aa99;
//     background-image: radial-gradient(at 83% 27%, hsla(117, 94%, 50%, 1) 0, hsla(117, 94%, 50%, 0) 50%),
//     radial-gradient(at 61% 85%, hsla(119, 91%, 61%, 1) 0, hsla(119, 91%, 61%, 0) 50%),
//     radial-gradient(at 83% 69%, hsla(159, 93%, 70%, 1) 0, hsla(159, 93%, 70%, 0) 50%),
//     radial-gradient(at 14% 83%, hsla(191, 86%, 67%, 1) 0, hsla(191, 86%, 67%, 0) 50%);
//     // background-color: #18aa99;
//     // background-image: radial-gradient(at 29% 9%, hsla(232, 87%, 54%, 1) 0, hsla(232, 87%, 54%, 0) 50%),
//     // radial-gradient(at 69% 76%, hsla(65, 93%, 54%, 1) 0, hsla(65, 93%, 54%, 0) 50%),
//     // radial-gradient(at 40% 12%, hsla(190, 91%, 70%, 1) 0, hsla(190, 91%, 70%, 0) 50%),
//     // radial-gradient(at 19% 73%, hsla(160, 85%, 50%, 1) 0, hsla(160, 85%, 50%, 0) 50%);
//     // position: relative;
// }
// // header
// .header {
//   content: '';
//   position: absolute;
//   top: 0;
//   width: 100%;
// }

// .header__content {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   max-width: 1140px;
//   margin: 0 auto;
//   padding: 0 30px;
// }
// .header__logo {
//     width: 100px;
// }

// .hero__container {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// .hero__description {
//   max-width: 500px;
//   text-align: left;
//     h1{
//       font-family: 'Roboto';
//         font-size: 58.3291px;
//         line-height: 61.2456px;
//         font-weight: 700;
//     }

//     p {
//       font-family: 'Roboto';
//       font-size: 22px;
//     }
// }

// .hero__description * {
//   margin-bottom: 1rem;
// }

// .hero-bg {
//   background-image: url(../images/bg_wave/main_wave.png);
//   position: relative;
//   background-size: cover;
//   height: 100%;
//   background-position: center center;
// }

// .hero__img {
//    width: 50%;
// }

.header {
  height: 2rem;
}

.header-content {
  display: grid;
  grid-template-columns: minmax(1em, 1fr) minmax(2em, 1fr) minmax(0px, 500px) minmax(
      1em,
      1fr
    );
}

.logo-header {
  background-image: url(img/logo_small.svg);
  height: 26px;
  width: 27px;
  grid-column: 2;
  object-fit: contain;
  background-repeat: no-repeat;
}

.phone {
  align-self: center;
  justify-self: end;
  grid-column: 3;
  display: flex;
}

.phone {
  align-self: center;
  justify-self: end;
  grid-column: 3;
  display: flex;
}

.phone a {
  font-family: "Roboto";
  color: #fff;
  font-size: 0.9rem;
}

/* .phone::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f879";
    font-size: 0.9rem;
    margin-right: 0.5em;
} */

@media (min-width: 600px) {
  .header {
    height: 5rem;
  }

  .logo-header {
    background-image: url(img/logo.svg);
    height: 60px;
    width: 89px;
    grid-column: 2;
    align-self: end;
    background-repeat: no-repeat;
  }

  .logo-header {
    width: 81px;
    grid-column: 2;
    align-self: center;
    justify-self: start;
    margin-top: 0.5rem;
  }

  .header-content {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(0px, 500px)) minmax(
        1em,
        1fr
      );
  }

  .phone a {
    font-family: "Roboto";
    color: #fff;
    font-size: 1.5rem;
  }

  .phone::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f879";
    font-size: 1.5rem;
    margin-right: 0.5em;
  }
}
/* hero */
.primary-navigation {
  display: none;
}

html {
  height: -webkit-fill-available;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
.logo-white {
  height: 98px;
  width: 107px;
  background-size: cover;
  background-image: url(../images/logo2_teleru.png);
  background-repeat: no-repeat;
}
.phone {
  align-self: center;
  justify-self: end;
  background-color: transparent;
  border: 0;
  color: #fff;
}
.nav-list {
  list-style-type: none;
}
.nav-list li a {
  text-decoration: none;
  color: #fff;
}
.bg-hero {
  background: rgb(244, 169, 37);
  background: #d5b18d;
}

.hero__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  z-index: 22;
  padding-bottom: 4rem;
  align-items: center;
}

.hero__title {
  background: radial-gradient(
    65.38% 65.38% at 50% 100%,
    #59943d 0%,
    #6d9f30 100%
  );
  padding: 1rem 1.3rem;
  color: #fff;
  text-transform: uppercase;
  font-family: "GilroyExtraBold";
  font-size: 48px;
}
.hero__left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__right {
  width: 40%;
}
.hero__right img {
  height: 100%;
  display: block;
}

.hero__description {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  justify-content: center;
  flex-direction: column;
}

.hero__description-left {
  display: flex;
  gap: 1rem;
  align-items: center;
  object-fit: contain;
  flex-wrap: wrap;
  justify-content: center;
}
.hero__description__first {
  font-size: 48px;
  font-family: "GilroyExtraBold";
  color: #fff;
  text-align: center;
  line-height: 1;
}

.hero__description__second {
  font-size: 16px;
  font-family: "GilroyExtraBold";
  color: #fff;
  text-align: center;
}

.circle {
  border-radius: 50%;
  border: solid 3px #fff;
  padding: 2rem;
}
@media (max-width: 1100px) {
  .hero__title {
    font-size: 24px;
  }
  .logo-white {
    height: 60px;
    width: 66px;
  }
  .hero__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .hero__right {
    margin-top: 2rem;
    width: 80%;
  }

  .hero__right img {
    /* height: 100%; */
    display: block;
    width: 100%;
  }
}
