/* header */

.header {
  height: 2rem;
  position: absolute;
  top: 10px;
  z-index: 500;
}

.header-content {
  display: grid;
  grid-template-columns: minmax(1em, 1fr) minmax(2em, 1fr) minmax(0px, 500px) minmax(
      1em,
      1fr
    );
}

.logo-header {
  background-image: url(/assets/images/logo_eco_w.svg);
  height: 50px;
  width: 90px;
  grid-column: 2;
  object-fit: contain;
  background-repeat: no-repeat;
}

.phone {
  align-self: center;
  justify-self: end;
  grid-column: 3;
  display: flex;
}

.phone {
  align-self: center;
  justify-self: end;
  grid-column: 3;
  display: flex;
}

.phone a {
  font-family: "Roboto";
  color: #fff;
  font-size: 0.9rem;
}

@media (min-width: 600px) {
  .header {
    height: 5rem;
  }

  .logo-header {
    background-image: url(/assets/images/logo_eco_w.svg);
    height: 60px;
    width: 89px;
    grid-column: 2;
    align-self: end;
    background-repeat: no-repeat;
  }

  .logo-header {
    width: 81px;
    grid-column: 2;
    align-self: center;
    justify-self: start;
    margin-top: 0.5rem;
  }

  .header-content {
    /* max-width: 1000px; */
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(0px, 1000px)) minmax(
        1em,
        1fr
      );
  }

  .phone a {
    font-family: "Roboto";
    color: #fff;
    font-size: 1.5rem;
  }

  .phone::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f879";
    font-size: 1.5rem;
    margin-right: 0.5em;
  }
}

/* ------------------- */
/* hero         */
/* ------------------- */
.hero__bg {
  background: rgb(201, 87, 0);
  background: linear-gradient(
    90deg,
    rgba(201, 87, 0, 1) 11%,
    rgba(251, 186, 3, 1) 67%,
    rgba(238, 170, 47, 1) 100%
  );
  /* background: rgb(201, 87, 0);
    background: linear-gradient(
      90deg,
      rgba(201, 87, 0, 1) 0%,
      rgba(218, 121, 0, 1) 35%,
      rgba(251, 186, 3, 1) 100%
      ); */
  /* 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 95% 86%; */
  height: 77vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__bg-container {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  width: 1200px;
  gap: 2rem;
}

.primary-navigation {
  display: none;
}

.hero-img {
  width: 50%;
  margin-top: 7rem;
}

.hero-img img {
  display: block;
}

.hero__bg-title {
  font-size: 55px;
  font-family: "GilroyExtraBold";
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
}

.hero__bg-bigtitle {
  font-size: 5rem;
  font-family: "GilroyExtraBold";
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
}

.hero__title--sub {
  font-size: 24px;
  font-family: "GilroyExtraBold";
  color: #23262b;
  font-weight: 700;
  width: 80%;
}

html {
  height: -webkit-fill-available;
}

.header-menu {
  justify-content: space-between;
  padding-top: 1rem;
}
.logo-white {
  height: 100px;
  width: 120px;
  background-image: url(/assets/images/logo_eco_w.svg);
  background-repeat: no-repeat;
}
.phone {
  align-self: center;
  justify-self: end;
  background-color: transparent;
  border: 0;
  color: #fff;
}
.nav-list {
  list-style-type: none;
}
.nav-list li a {
  text-decoration: none;
  color: #fff;
}
/* hero */
.hero-txt-cta {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 4rem;
  /* gap: 1rem; */
}
/* .hero-txt-cta h1 {
    font-size: 3.5rem;
    line-height: 1;
  } */
@media (max-width: 1100px) {
  .hero__bg-bigtitle {
    font-size: 5rem;
  }
  .hero-txt-cta {
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
  }
  .btn {
    align-self: center;
  }
  .hero__bg {
    height: auto;

    align-items: center;
    background: rgb(201, 87, 0);
    background: linear-gradient(
      180deg,
      rgba(201, 87, 0, 1) 43%,
      rgba(251, 186, 3, 1) 79%,
      rgba(238, 170, 47, 1) 100%
    );
  }
  .hero__bg-container {
    margin-top: 5rem;
    flex-direction: column;
  }
  .hero__bg-title {
    font-size: 3.5rem;
    text-align: center;
  }
  .info-block img {
    max-width: 100%;
  }

  .hero-img {
    margin-top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero__title--sub {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .hero-img {
    width: 100%;
  }
  .hero-txt-cta {
    align-items: center;
    justify-content: center;
  }
  .hero__bg-bigtitle {
    font-size: 3rem;
  }
  .hero__bg-title {
    font-size: 2rem;
  }

  .btn {
    align-self: center;
  }
  .flow > * + * {
    margin-top: 1rem;
  }
  .hero__title--sub {
    font-size: 16px;
  }
}
